In [77]:
numbers_list = [2,3,4,5,1,6]
print(numbers_list)

numbers_list.sort(reverse=True) #True needs to be capital T
print(numbers_list)

[2, 3, 4, 5, 1, 6]
[6, 5, 4, 3, 2, 1]

In [78]:
dict_1 = {'key1':'value1',
          'key2: value2'} #stores strings

staff_member = {'Name':'Saima'
            'Job Title';'BIO',
            'Hours':'too many',
            'salary':10']

colours_dict = [Will':'Teal',
            'Andy':[Purple','Blue'],
            'Annie':14,
            'Naomi';[Monday':'Red']

SyntaxError: unterminated string literal (detected at line 7) (1599840639.py, line 7)

In [ ]:
dict_2 = {'Mcdonalds': 'Burgers',
          'Mother Hubbards':['Fish and Chips','Fish Butty','Gravy'],
          'Rajas':'Pizzas',
          'Morrisons':'All day breakfast'}
print(dict_2)

mcdo_food = dict_2['Mcdonalds']
print(mcdo_food)

print(dict_2.keys())
print(dict_2.values())
print(dict_2.items())

print('Mother Hubbards' in dict_2)

dict_2['Kebab Shop'] = 'Kebabs'

print(dict_2.items())

print('Mcdonalds' in dict_2)

print(dict_2)

{'Mcdonalds': 'Burgers', 'Mother Hubbards': ['Fish and Chips', 'Fish Butty', 'Gravy'], 'Rajas': 'Pizzas', 'Morrisons': 'All day breakfast'}
Burgers
dict_keys(['Mcdonalds', 'Mother Hubbards', 'Rajas', 'Morrisons'])
dict_values(['Burgers', ['Fish and Chips', 'Fish Butty', 'Gravy'], 'Pizzas', 'All day breakfast'])
dict_items([('Mcdonalds', 'Burgers'), ('Mother Hubbards', ['Fish and Chips', 'Fish Butty', 'Gravy']), ('Rajas', 'Pizzas'), ('Morrisons', 'All day breakfast')])
True
dict_items([('Mcdonalds', 'Burgers'), ('Mother Hubbards', ['Fish and Chips', 'Fish Butty', 'Gravy']), ('Rajas', 'Pizzas'), ('Morrisons', 'All day breakfast'), ('Kebab Shop', 'Kebabs')])
True

In [ ]:
#Data Frames

import pandas as pd
filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

# to read in an excel file is pd.read.excel(<filepath>)

In [ ]:
print(header_fake.head(10))
print(header_fake.tail(10))

print(header_fake.info())

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
5  733831    1  06/07/2013   WROM  Z005227500041     NaN    NaN
6   69112    2  11/09/2010   ABAN  X089575916879     NaN    NaN
7  853884    2  09/10/2004   WBRI  U096513817313     NaN    NaN
8  634852    2  19/10/2006   WIRI  X019131453866     NaN    NaN
9  512087    1  01/10/2003   MOTH  J091207487052     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2665  199656    1  08/07/2009   WOTH  G006043737339     NaN    NaN
2666  587124    1  14/10/2006   AOTH  X013739746473     NaN    NaN
2667  558581    1  05/07/2001   MWBC  S048947751783     NaN    NaN
2668  937984    2  08/05/2008   WROM  B072095547455     NaN    NaN
2669  942735    2  27/10/2010   BCRB  V010957149459     NaN    NaN
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [ ]:
# dict of lists

d_1 = {['col1':[1,2,3],
'col2':['A','B',C'],
'col3':['foo','bar','baz']}
                
df_1 = pd.DataFrame(d_1)

print(df_1)

# list of dicts

SyntaxError: unterminated string literal (detected at line 4) (3327307154.py, line 4)

In [ ]:
staff = pd.DataFrame([
    {'Name':'Will Levack-Payne',
     'Salary':'10',
     'Job Title':'Teacher'},
     {'Name':'Annie Levack-Payne',
     'Salary':'8',
     'Job Title':'Head Teacher'},
    {'Name':'Andy Levack-Payne',
     'Salary':'7',
     'Job Title':'Trainee Teacher'},
     {'Name':'Naiomi Levack-Payne',
     'Salary':'18',
     'Job Title':'Sports coach'},
     {'Name':'Scout Dog',
     'Salary':'0',
     'Job Title':'Dog'}
])

print(staff)

print(staff.info())
print(staff.head())
print(staff['Salary'])

staff['Salary'] = staff['Salary'].astype('int')
print(staff['Salary'].dtypes)

mean_salary = staff['Salary'].mean()
sum_salary = staff['Salary'].sum()
max_salary = staff['Salary'].max()
min_salary = staff['Salary'].min()

print(f' The mean salary is:[mean_salary].')
print(f' The sum salary is:[sum_salary].')
print(f' The max salary is:[max_salary].')
print(f' The min salary is:[min_salary].')

                  Name Salary        Job Title
0    Will Levack-Payne     10          Teacher
1   Annie Levack-Payne      8     Head Teacher
2    Andy Levack-Payne      7  Trainee Teacher
3  Naiomi Levack-Payne     18     Sports coach
4            Scout Dog      0              Dog
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Salary     5 non-null      object
 2   Job Title  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes
None
                  Name Salary        Job Title
0    Will Levack-Payne     10          Teacher
1   Annie Levack-Payne      8     Head Teacher
2    Andy Levack-Payne      7  Trainee Teacher
3  Naiomi Levack-Payne     18     Sports coach
4            Scout Dog      0              Dog
0    10
1     8
2     7
3    18
4     0
Name: Salary, dtype: object
int64
 The mean salary is:[mean_salary].
 The sum salary is:[sum_salary].
 The max salary is:[max_salary].
 The min salary is:[min_salary].